#data-grid {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#data-grid td,
#data-grid th {
  border: 1px solid #ddd;
  padding: 8px;
}

#data-grid tr:nth-child(even) {
  background-color: #f2f2f2;
}

#data-grid tr:hover {
  background-color: #ddd;
}

#data-grid th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
