/* Universal */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-transform: uppercase;
  font-size: 2em;
}

html {
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(to bottom,#e60f0d 60%,#a50100 100%);
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
  justify-content: center;
}

#title {
  color: white;
  text-align: center;
  font-weight: 100;
  margin-top: 200px;
  font-size: 4em;
}

#app {
  width: 100%;
  height: 100%;
}

#MainContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#Floors {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  justify-content: space-around;
}

.Header {
  display: flex;
  position: relative;
  justify-content: center;
  height: 300px;
  background-color: #e60f0d;
  margin-bottom: 20px;
}

#logo {
  position: absolute;
  height: 120px;
  padding-top: 40px;
}

/* CardEvent */
.CardContainer {
  width: 98%;
  margin: auto;
  color: white;
  margin-bottom: 2vh;
  font-size: 20px;
  line-height: 1.5;
  flex-direction: column;
  background: linear-gradient(to right,#e60f0d 80%,#ff0d0a 140%);
  position: relative;
  box-shadow: 3px 4px 3px 1px rgba(0,0,0,0.2), 0px 0px 1px 0px rgba(0,0,0,0.10), 0px 2px 1px -1px rgba(0,0,0,0.05);
}

.CardFloorContainer {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
  position: relative;
}

.CardFloorHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px;
}

.CardFloorFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px;
  position: absolute;
  bottom: 0;
  left: 5px;
  right: 5px;
}

.CardContent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  word-wrap: break-word;
}

.CardContent .Left {
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  position: relative;
  left: 20px;
  flex-basis: 25%;
}

.CardContent .Middle {
  flex-basis: 50%;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

#etgH {
  color: #FFFFFF;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 2em;
  font-weight: 100;
}

#leftValue1 {
  font-style: oblique;
}

#leftValue2 {
  font-weight: bold;
  color: white;
}

.CardContent .Right {
  display: flex;
  text-align: center;
  position: absolute;
  margin-right: 20px;
  right: 0;
  font-size: 1.8em;
}
